.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loginBox {
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5ff;
    text-align: center;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .auto {
    margin-top: 15px;
  }
  /* .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  } */
  
  .subinfo {
    display: flex;
    width: 350px;
    height: 50px;
  }
  .subinfo > button {
    @apply mr-9 ml-9 mt-4;
    width: 200px;
    height: 40px;
  }